.nav_menu_link {
	list-style-type: none;
	font-size: 25px;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	padding-bottom: 6px;
	padding-left: 15px;
}


.nav_menu_link:hover {
	// color: #17b9b9;
	background-color: #17b9b9;
}

.active_nav_link {
	background-color: #17b9b9;
	font-weight: 600;
}
