.nav_menu_link {
	list-style-type: none;
	font-size: 16px;

	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.nav_menu_link :hover {
	text-decoration: underline 2px #17b9b9;
	color: #17b9b9;
}

.active_nav_link {
	color: yellow;
	font-weight: 500;
}
